body{
    background-image: url(/BuildWeek1/assets/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-self: center;
    flex-direction: column;
    height: 100vh;
}


/* up section */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
figure{
    max-width: 100px;
    margin: 0;
}
img{
    width: 100%;
}
.timer{
    width: 100px;
    height: 100px;
    background-color: aqua;
}

/* center section */

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerButton{
display: flex;
flex-wrap:wrap;
justify-content: center;
align-items: center;
gap: 20px;
width: 300px;
}

.buttonQuiz{
    width: 100px;
    height: 100px;
    background-color: transparent;
}