body{
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 15px;
}

#resultsContainer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: white;
}

#inputJob, #inputLocation, #searchButton{
    border-radius: 10px;
}